div {
    /* background-color: #880;  */
    /* background-image: url('../imgs/logo.png') */
}

div.index {
    position: absolute;
    height: 100%;
}

div.content {
    position: absolute;
    height: 100%;
}

ul.sidebar {
    position: relative;
    height: 100%;
}

ul.sidebar>li {
    padding: 5px 0px;
}

ul.sidebar>li:first-child {
    padding-top: 0px;
    padding-bottom: 5px;
}

ul.sidebar a {
    display: inline-block;
    width: 100%;
    text-decoration: none;
}

.nav_selected {
    color: #fff;
    background-color: cadetblue;
}

div.prod_header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

div.prod_item {
    border: 1px solid #332211;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    line-height: 1.8em;
}

div.prod_short_name {
    font-size: 1.2em;
    height: 70px;
}

div.prod_short_name:hover {
    cursor: pointer;
    color: rgb(55, 26, 219);
}

div.prod_btns {
    position: relative;
    float: right;
}

div.prod_btns button {
    margin-right: 10px;
}

div.prod_btns button:hover {
    cursor: pointer;
}

div.prod_btns::after {
    clear: both;
}

div.prod_info {
    padding: 10px;
    line-height: 1.5em;
    font-size: 18px;
}

div.prod_info p:nth-child(1) {
    color: rgb(23, 23, 207);
}

div.prod_info p:nth-child(2) {
    font-size: 0.8em;
}

div.prod_info p:nth-child(3) {
    font-size: 1em;
    color: #be2424;
}

div.prod_info p:nth-child(4) {
    font-size: 0.8em;
}

div.rightbar {
    position: absolute;
    margin-left: 83%;
}